.reset-heading h2 {
  text-align: center;
  margin: 0px 10px 0px 10px;
}

.custom-reset-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .reset-form {
    margin: 0px 30px 0px 30px !important;
  }
  .reset-heading h2 {
    margin: 0px 15px 0px 15px;
  }
}
